{% extends 'layout.html' %}
{% block content %}
{% for post in posts.items %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pictures/' + post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% if posts.has_next and posts.has_prev %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=posts.page - 1) }}">Previous</a>
    <a class="btn btn-info mb-4" href="{{ url_for('home', page=posts.page ) }}">{{ posts.page }}</a>
    <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=posts.page + 1) }}">Next</a>

{% elif posts.has_next %}
    <a class="btn btn-info mb-4 ml-4" href="{{ url_for('home', page=posts.page ) }}">{{ posts.page }}</a>
    <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=posts.page + 1) }}">Next</a>
{% elif posts.has_prev %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=posts.page -1 ) }}">Previous</a>
    <a class="btn btn-info mb-4" href="{{ url_for('home', page=posts.page ) }}">{{ posts.page}}</a>
{% else %}
    <a class="btn btn-info mb-4" href="{{ url_for('home', page=posts.page - 1) }}">{{posts.page}}</a>
{% endif %}
{% endblock content %}

